
__pycache__/plot_moulin_model.cpython-36.pyc
__pycache__/function_moulin_model.cpython-36.pyc
*.avi
*.zip
*.pyc
*.pyc
*.pyc
__pycache__/function_moulin_model.cpython-36.pyc
figure_movie_MGM/MGM_top1_bottom1_zbreak707.mp4
figure_movie_MGM/MGM_top4_bottom4_zbreak707.mp4
*.mp4
.ipynb_checkpoints/Plot_figures_with_JEME-checkpoint.ipynb
*.png
*.pkl
Pickles_TC/bf0_fix_TC
Pickles_TC/bf1_fix_TC
Pickles_TC/bf1_osc_shift_TC
Pickles_TC/bf1_osc_TC
Pickles_TC/bf2_fix_TC
Pickles_TC/bf3_fix_TC
Pickles_TC/cylinder10_TC
Pickles_TC/cylinder1_TC
Pickles_TC/cylinder8_TC
Pickles_TC/cylinder_TC
.ipynb_checkpoints/Meltwater_input-checkpoint.ipynb
.ipynb_checkpoints/moulin_closure-checkpoint.ipynb
.ipynb_checkpoints/Plot_corr_Baseflow_paper-checkpoint.ipynb
.ipynb_checkpoints/Snyder-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
test_codes/compare1D0D_BF3/discretized
test_codes/compare1D0D_BF3/moulin_evol
test_codes/compare1D0D_BF3/moulin_fix
test_codes/compare1D0D_noBF/discretized
test_codes/compare1D0D_noBF/moulin_evol
test_codes/compare1D0D_noBF/moulin_fix
Pickles_TC/bf2_fix_TC_nobound
Pickles_TC/bf0_fix_TC_nobound
