
__pycache__/plot_moulin_model.cpython-36.pyc
__pycache__/function_moulin_model.cpython-36.pyc
*.png
*.avi
*.zip
*.pyc
*.pyc
*.pyc
__pycache__/function_moulin_model.cpython-36.pyc
figure_movie_MGM/MGM_top1_bottom1_zbreak707.mp4
figure_movie_MGM/MGM_top4_bottom4_zbreak707.mp4
*.mp4
